Arithmetic operations

In [6]:
import pandas as pd
a=pd.DataFrame({"A":[1,2,3,4],
                "B":[5,6,87,8]})
a
print("")
a["Added"]=a["A"]+a["B"]
a["Substracted"]=a["A"]-a["B"]
a["Multiplied"]=a["A"]*a["B"]
a["Divided"]=a["A"]/a["B"]
a

   A   B  Added  Substracted  Multiplied   Divided
0  1   5      6           -4           5  0.200000
1  2   6      8           -4          12  0.333333
2  3  87     90          -84         261  0.034483
3  4   8     12           -4          32  0.500000

In [13]:
var1=pd.DataFrame({"A":[10,12,13],
       "B":[77,66,55],
       "C":[33,22,11]})
var1
var1["Python"] = var1["A"] <= 10
var1["Pandas"] = var1["B"] >= 40
var1

    A   B   C  Python  Pandas
0  10  77  33    True    True
1  12  66  22   False    True
2  13  55  11   False    True