To implement Dataframe data structure in pandas

In [1]:
import pandas as pd
a=[2,3,4,5,5,6]
var=pd.DataFrame(a)
var
print(type(var))

<class 'pandas.core.frame.DataFrame'>

In [2]:
d={"a":[1,2,3,4],
   "s":[5,6,7,8],
   "q":[5,4,3,2]}
v=pd.DataFrame(d)
print(v)
va=pd.DataFrame(d,columns=["a"],index=[1,2,3,4])
print(type(va))
print(va)

<class 'pandas.core.frame.DataFrame'>
   a
1  1
2  2
3  3
4  4

In [4]:
list1=[[2,3,2],[6,5,4],[2,3,4]]
var=pd.DataFrame(list1)
var

   0  1  2
0  2  3  2
1  6  5  4
2  2  3  4

In [5]:
a={"s":pd.Series([1,2,3,4]),
   "r":pd.Series([4,3,2,1])}
d=pd.DataFrame(a)
print(type(d))
d

<class 'pandas.core.frame.DataFrame'>

   s  r
0  1  4
1  2  3
2  3  2
3  4  1