To delete or drop down the missing data values

In [7]:
# original data values
import pandas as pd
var=pd.read_csv("C:\\Users\\chakr\\Desktop\\Folder\\industry_sic.csv")
var

     SIC Code                                        Description
0         NaN  Growing of cereals (except rice), leguminous c...
1      1120.0                                                NaN
2      1130.0  Growing of vegetables and melons, roots and tu...
3      1140.0                              Growing of sugar cane
4         NaN                                                NaN
..        ...                                                ...
726   98000.0                      Residents property management
727   98100.0  Undifferentiated goods-producing activities of...
728   98200.0  Undifferentiated service-producing activities ...
729   99000.0  Activities of extraterritorial organizations a...
730   99999.0                                    Dormant Company

[731 rows x 2 columns]

In [5]:
import pandas as pd
var=pd.read_csv("C:\\Users\\chakr\\Desktop\\Folder\\industry_sic.csv")
var
#var.dropna()
var.dropna(axis=1)

     SIC Code                                        Description
2      1130.0  Growing of vegetables and melons, roots and tu...
3      1140.0                              Growing of sugar cane
6      1190.0               Growing of other non-perennial crops
7      1210.0                                  Growing of grapes
8      1220.0         Growing of tropical and subtropical fruits
..        ...                                                ...
726   98000.0                      Residents property management
727   98100.0  Undifferentiated goods-producing activities of...
728   98200.0  Undifferentiated service-producing activities ...
729   99000.0  Activities of extraterritorial organizations a...
730   99999.0                                    Dormant Company

[725 rows x 2 columns]

In [11]:
import pandas as pd
cad=pd.read_csv("C:\\Users\\chakr\\Desktop\\Folder\\industry_sic.csv")
cad
# Delete the entire NaN row
cad.dropna(how="any")
# to show NaN elements
cad.dropna(how="all")

     SIC Code                                        Description
0         NaN  Growing of cereals (except rice), leguminous c...
1      1120.0                                                NaN
2      1130.0  Growing of vegetables and melons, roots and tu...
5      1160.0                                                NaN
6      1190.0               Growing of other non-perennial crops
..        ...                                                ...
726   98000.0                      Residents property management
727   98100.0  Undifferentiated goods-producing activities of...
728   98200.0  Undifferentiated service-producing activities ...
729   99000.0  Activities of extraterritorial organizations a...
730   99999.0                                    Dormant Company

[729 rows x 2 columns]

In [16]:
cad.dropna(subset=["SIC Code"])
# to delte all null values over a particular column.

     SIC Code                                        Description
1      1120.0                                                NaN
2      1130.0  Growing of vegetables and melons, roots and tu...
5      1160.0                                                NaN
6      1190.0               Growing of other non-perennial crops
7      1210.0                                  Growing of grapes
..        ...                                                ...
726   98000.0                      Residents property management
727   98100.0  Undifferentiated goods-producing activities of...
728   98200.0  Undifferentiated service-producing activities ...
729   99000.0  Activities of extraterritorial organizations a...
730   99999.0                                    Dormant Company

[727 rows x 2 columns]

Columns with 1 null values are removed

In [19]:
cad.dropna(thresh=1)

     SIC Code                                        Description
0         NaN  Growing of cereals (except rice), leguminous c...
1      1120.0                                                NaN
2      1130.0  Growing of vegetables and melons, roots and tu...
5      1160.0                                                NaN
6      1190.0               Growing of other non-perennial crops
..        ...                                                ...
726   98000.0                      Residents property management
727   98100.0  Undifferentiated goods-producing activities of...
728   98200.0  Undifferentiated service-producing activities ...
729   99000.0  Activities of extraterritorial organizations a...
730   99999.0                                    Dormant Company

[729 rows x 2 columns]

Fill NaN values

Fill the NaN positions with word "Python"

In [24]:
import pandas as pd
cad.fillna("Python")

    SIC Code                                        Description
0     Python  Growing of cereals (except rice), leguminous c...
1     1120.0                                             Python
2     1130.0  Growing of vegetables and melons, roots and tu...
3     Python                                             Python
4     Python                                             Python
..       ...                                                ...
726  98000.0                      Residents property management
727  98100.0  Undifferentiated goods-producing activities of...
728  98200.0  Undifferentiated service-producing activities ...
729  99000.0  Activities of extraterritorial organizations a...
730  99999.0                                    Dormant Company

[731 rows x 2 columns]

In [22]:
cad.fillna({"SYMBOL":"Python","SECURITY":"c"})

     SIC Code                                        Description
0         NaN  Growing of cereals (except rice), leguminous c...
1      1120.0                                                NaN
2      1130.0  Growing of vegetables and melons, roots and tu...
3         NaN                                                NaN
4         NaN                                                NaN
..        ...                                                ...
726   98000.0                      Residents property management
727   98100.0  Undifferentiated goods-producing activities of...
728   98200.0  Undifferentiated service-producing activities ...
729   99000.0  Activities of extraterritorial organizations a...
730   99999.0                                    Dormant Company

[731 rows x 2 columns]

In [25]:
cad.fillna

<bound method NDFrame.fillna of      SIC Code                                        Description
0         NaN  Growing of cereals (except rice), leguminous c...
1      1120.0                                                NaN
2      1130.0  Growing of vegetables and melons, roots and tu...
3         NaN                                                NaN
4         NaN                                                NaN
..        ...                                                ...
726   98000.0                      Residents property management
727   98100.0  Undifferentiated goods-producing activities of...
728   98200.0  Undifferentiated service-producing activities ...
729   99000.0  Activities of extraterritorial organizations a...
730   99999.0                                    Dormant Company

[731 rows x 2 columns]>

Fill the NaN values with Python not more than 2

In [26]:
cad.fillna("Python",limit=2)

    SIC Code                                        Description
0     Python  Growing of cereals (except rice), leguminous c...
1     1120.0                                             Python
2     1130.0  Growing of vegetables and melons, roots and tu...
3     Python                                             Python
4        NaN                                                NaN
..       ...                                                ...
726  98000.0                      Residents property management
727  98100.0  Undifferentiated goods-producing activities of...
728  98200.0  Undifferentiated service-producing activities ...
729  99000.0  Activities of extraterritorial organizations a...
730  99999.0                                    Dormant Company

[731 rows x 2 columns]