Merge

In [36]:
import pandas as pd

# Create DataFrames
df1 = pd.DataFrame({
    'id': [1, 2, 3],
    'name': ['John', 'Alice', 'Bob']
})

df2 = pd.DataFrame({
    'id': [1, 2, 4],
    'age': [28, 24, 30]
})

# Merge DataFrames
merged_df = pd.merge(df1, df2,how='left')

new=pd.merge(df1,df2,how='outer')


kew=pd.merge(df1,df2,indicator=True)
kew

   id   name  age _merge
0   1   John   28   both
1   2  Alice   24   both

In [43]:
import pandas as pd
a=pd.DataFrame({"A":[1,2,3,4,5],
                "B":[5,4,3,2,1],
                "C":[7,8,9,10,12]})
b=pd.DataFrame({"D":[12,13,1,4,4],
                "E":[2,3,4,5,6],
                "F":[8,7,6,4,23]})
pd.merge(a,b,left_index=True,right_index=True)

   A  B   C   D  E   F
0  1  5   7  12  2   8
1  2  4   8  13  3   7
2  3  3   9   1  4   6
3  4  2  10   4  5   4
4  5  1  12   4  6  23

Concat

In [45]:
import pandas as pd
sr1=pd.Series([1,2,3,43])
sr2=pd.Series([11,12,45,67])
pd.concat([sr1,sr2])

0     1
1     2
2     3
3    43
0    11
1    12
2    45
3    67
dtype: int64

In [61]:
var1=pd.DataFrame({"A":[2,23,34],
                   "B":[7,6,5]})
var2=pd.DataFrame({"A":[8,7,6],
                   "C":[12,14,89]})
pd.concat([var1,var2],axis=1,join="inner")

    A  B  A   C
0   2  7  8  12
1  23  6  7  14
2  34  5  6  89