To implement read function in csv file

In [7]:
import pandas as pd
car=pd.read_csv("C:\\Users\\chakr\\Desktop\\Folder\\industry_sic.csv")
car
car.index
car.columns

Index(['SIC Code', 'Description'], dtype='object')

To implement describe function

In [8]:
import pandas as pd
a=pd.read_csv("C:\\Users\\chakr\\Desktop\\Folder\\industry_sic.csv")
a.describe()

           SIC Code
count    731.000000
mean   43925.389877
std    26478.315319
min     1110.000000
25%    23465.000000
50%    46120.000000
75%    64301.500000
max    99999.000000

To implement head and tail functions in pandas

In [12]:
a=pd.read_csv("C:\\Users\\chakr\\Desktop\\Folder\\industry_sic.csv")
print("Head datas:")
a.head()

Head datas:

   SIC Code                                        Description
0      1110  Growing of cereals (except rice), leguminous c...
1      1120                                    Growing of rice
2      1130  Growing of vegetables and melons, roots and tu...
3      1140                              Growing of sugar cane
4      1150                                 Growing of tobacco

To show first two datas in pandas

In [13]:
a.head(2)

   SIC Code                                        Description
0      1110  Growing of cereals (except rice), leguminous c...
1      1120                                    Growing of rice

Implement tail function

In [14]:
a.tail()

     SIC Code                                        Description
726     98000                      Residents property management
727     98100  Undifferentiated goods-producing activities of...
728     98200  Undifferentiated service-producing activities ...
729     99000  Activities of extraterritorial organizations a...
730     99999                                    Dormant Company

In [15]:
# to show only last 3 datas
a.tail(3)

     SIC Code                                        Description
728     98200  Undifferentiated service-producing activities ...
729     99000  Activities of extraterritorial organizations a...
730     99999                                    Dormant Company

In [16]:
a["Description"]

0      Growing of cereals (except rice), leguminous c...
1                                        Growing of rice
2      Growing of vegetables and melons, roots and tu...
3                                  Growing of sugar cane
4                                     Growing of tobacco
                             ...
726                        Residents property management
727    Undifferentiated goods-producing activities of...
728    Undifferentiated service-producing activities ...
729    Activities of extraterritorial organizations a...
730                                      Dormant Company
Name: Description, Length: 731, dtype: object

to show first 5 entries

In [20]:
print(a[:5])
print("")
print(a[5:14])

   SIC Code                                        Description
0      1110  Growing of cereals (except rice), leguminous c...
1      1120                                    Growing of rice
2      1130  Growing of vegetables and melons, roots and tu...
3      1140                              Growing of sugar cane
4      1150                                 Growing of tobacco

    SIC Code                                     Description
5       1160                          Growing of fibre crops
6       1190            Growing of other non-perennial crops
7       1210                               Growing of grapes
8       1220      Growing of tropical and subtropical fruits
9       1230                        Growing of citrus fruits
10      1240         Growing of pome fruits and stone fruits
11      1250  Growing of other tree and bush fruits and nuts
12      1260                    Growing of oleaginous fruits
13      1270                       Growing of beverage crops

In [21]:
type(a)

pandas.core.frame.DataFrame

Change from index to array

In [23]:
a.index.array

<NumpyExtensionArray>
[  np.int64(0),   np.int64(1),   np.int64(2),   np.int64(3),   np.int64(4),
   np.int64(5),   np.int64(6),   np.int64(7),   np.int64(8),   np.int64(9),
 ...
 np.int64(721), np.int64(722), np.int64(723), np.int64(724), np.int64(725),
 np.int64(726), np.int64(727), np.int64(728), np.int64(729), np.int64(730)]
Length: 731, dtype: int64

Convert to numpy array

In [24]:
a.to_numpy

<bound method DataFrame.to_numpy of      SIC Code                                        Description
0        1110  Growing of cereals (except rice), leguminous c...
1        1120                                    Growing of rice
2        1130  Growing of vegetables and melons, roots and tu...
3        1140                              Growing of sugar cane
4        1150                                 Growing of tobacco
..        ...                                                ...
726     98000                      Residents property management
727     98100  Undifferentiated goods-producing activities of...
728     98200  Undifferentiated service-producing activities ...
729     99000  Activities of extraterritorial organizations a...
730     99999                                    Dormant Company

[731 rows x 2 columns]>

In [27]:
import numpy as np
aq=np.asarray(a)
print(aq)

[[1110 'Growing of cereals (except rice), leguminous crops and oil seeds']
 [1120 'Growing of rice']
 [1130 'Growing of vegetables and melons, roots and tubers']
 ...
 [98200
  'Undifferentiated service-producing activities of private households for own use']
 [99000 'Activities of extraterritorial organizations and bodies']
 [99999 'Dormant Company']]

In [36]:
a.sort_index(axis=0,ascending=False)#descending order sorting
print(a)

     SIC Code                                        Description
0        1110  Growing of cereals (except rice), leguminous c...
1        1120                                    Growing of rice
2        1130  Growing of vegetables and melons, roots and tu...
3        1140                              Growing of sugar cane
4        1150                                 Growing of tobacco
..        ...                                                ...
726     98000                      Residents property management
727     98100  Undifferentiated goods-producing activities of...
728     98200  Undifferentiated service-producing activities ...
729     99000  Activities of extraterritorial organizations a...
730     99999                                    Dormant Company

[731 rows x 2 columns]

In [41]:
a["SIC Code"][3]=255003

C:\Users\chakr\AppData\Local\Temp\ipykernel_9176\3779948138.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  a["SIC Code"][3]=255003
C:\Users\chakr\AppData\Local\Temp\ipykernel_9176\3779948138.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  a["SIC Code"][3]=255003

In [42]:
a

     SIC Code                                        Description
0        1110  Growing of cereals (except rice), leguminous c...
1        1120                                    Growing of rice
2        1130  Growing of vegetables and melons, roots and tu...
3      255003                              Growing of sugar cane
4        1150                                 Growing of tobacco
..        ...                                                ...
726     98000                      Residents property management
727     98100  Undifferentiated goods-producing activities of...
728     98200  Undifferentiated service-producing activities ...
729     99000  Activities of extraterritorial organizations a...
730     99999                                    Dormant Company

[731 rows x 2 columns]

In [60]:
# to get a data
a.loc[[2,3,5,90,43,22,6,7,8],["SIC Code"]]
a.loc[[56,96,76,34,22],["Description"]]

                                         Description
56                 Processing and preserving of meat
96                             Finishing of textiles
76  Manufacture of cocoa and chocolate confectionery
34       Gathering of wild growing non-wood products
22                             Raising of swine/pigs

In [54]:
a.iloc[0,1]

'Growing of cereals (except rice), leguminous crops and oil seeds'

In [63]:
a.drop("Description",axis=1)# to delete the particular row

     SIC Code
0        1110
1        1120
2        1130
3      255003
4        1150
..        ...
726     98000
727     98100
728     98200
729     99000
730     99999

[731 rows x 1 columns]